[submodule "launcher/components/lvgl"]
	path = launcher/components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "launcher/components/appfs"]
	path = launcher/components/appfs
	url = https://github.com/badgeteam/esp32-component-appfs.git 
