menu "8bkc uGui config"


config USE_FONT_4X6
	bool "4x6 font"
	default n

config USE_FONT_5X8
	bool "5x8 font"
	default n

config USE_FONT_5X12
	bool "5x12 font"
	default n

config USE_FONT_6X8
	bool "6x8 font"
	default y

config USE_FONT_6X10
	bool "6x10 font"
	default n

config USE_FONT_7X12
	bool "7x12 font"
	default n

config USE_FONT_8X8
	bool "8x8 font"
	default n

config USE_FONT_8X12
	bool "8x12 font"
	default n

config USE_FONT_8X12
	bool "8x12 font"
	default n

config USE_FONT_8X14
	bool "8x14 font"
	default n

config USE_FONT_10X16
	bool "10x16 font"
	default n

config USE_FONT_12X16
	bool "12x16 font"
	default n

config USE_FONT_12X20
	bool "12x20 font"
	default n

config USE_FONT_16X26
	bool "16x26 font"
	default n

config USE_FONT_22X36
	bool "22x36 font"
	default n

config USE_FONT_24X40
	bool "24x20 font"
	default n

config USE_FONT_32X53
	bool "32x53 ont"
	default n

endmenu